<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.web>
    <pages enableSessionState="true" />
  </system.web>
  <appSettings>
    <add key="Nexmo.UserAgent" value="NETCoreQS1/1.0" />
    <add key="Nexmo.Url.Rest" value="https://rest.nexmo.com" />
    <add key="Nexmo.Url.Api" value="https://api.nexmo.com" />
    <add key="Nexmo.api_key" value= "NEXMO-API-KEY" />
    <add key="Nexmo.api_secret" value="NEXMO-API-SECRET" />
    <add key="NEXMO_FROM_NUMBER" value ="NEXMO-VIRTUAL-NUMBER" />
    <add key="Nexmo.Application.Id" value= "NEXMO-APP-ID" />
    <add key="Nexmo.Application.Key" value="PATH/TO/PRIVATE.KEY" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
